{% extends 'base.html' %}
{% block content %}
<div class="main">
    <div class="inner" style="position: relative;border:50px;margin: 50px;color: black transparent;"">
        <form action="">
            <div class="inner-form" >
            <label for="username">Username</label>
            <input type="text"><br>
            <label for="password">Password</label>
            <input type="password"><br>
            <label for="confirm password">Confirm Password</label>
            <input type="password"><br>
            <input type="button" value="submit" style="border-radius: 10%;position: relative;left: 150px;">
            </div>
        </form>
    </div>
</div>
<!-- <style>
    input{
        float: right;
    }
</style> -->
{% endblock content %}